.user-picture img{
    height: 41px;
    width: auto;
    border-radius: 50%;
}
.userHead cite{
	margin-left: 5px;
}
.userHead a{
	display:inline-block;
	margin-right:15px
}
#Unread-msg{
	width: 30px;height: 30px;border-radius:50%;background-color: red;display: inline-block;line-height: 30px;text-align: center;position: absolute;right: -20px;top: -25px;
}
#Unread-msg:empty{
	display: none;
}
.userHead img{
	width: 42px;
	height: 42px;
	border-radius: 100%;
}
img{
	vertical-align: middle;
}

a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

ul {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, label, p {
	margin: 0;
}
/*----*/
.itemContainer {
	width: 100%;
	float: left;
}

.itemContainer div {
	float: left;
	margin: 5px 20px 5px 20px;
}

.itemContainer a {
	text-decoration: none;
}

.cartHeaders {
	width: 100%;
	float: left;
}

.cartHeaders div {
	float: left;
	margin: 5px 20px 5px 20px;
}

.item_add {
	color: #fff;
	border: none;
}

a.item_add {
	text-decoration: none;
}

.grid_1 img {
	margin-bottom: 1em;
}

.box_1 h3 {
	color: #fff;
	font-size: 1.1em;
}

.box_1 h3 img {
	margin-left: 5px;
}

.box_1 p a {
	color: #fff;
	font-size: 0.875em;
}

.total {
	display: inline-block;
}

.cart.box_1 {
	float: right;
	margin-top: 2px;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
/*----*/
.header {
/* 	border-bottom: 1px solid #000; */
	background-color: #393D49;
	position: fixed;
    z-index: 999;
    width: 100%;
}
.seize{
	height: 80px;
}
.header-top {
	background: rgb(56,13,49);
	padding: 15px 0;
}
.write-icon{
	color: #fff;
   line-height: 64px;
    font-size: 41px !important;
	float: left;
	margin-left:20%;
    cursor: pointer
}
.search {
	position: relative;
	float: left;
	width: 15%;
	background-color: #f2f2f5;
	border-radius:5px;
    margin-top: 12px;
}

.search input[type="text"] {
	outline: none;
	padding: 3px 15px;
	background: none;
	border: none;
	font-size: 1.2em;
	color: #000;
	font-weight: 700;
	border: none;width: 81%;height: 34px;padding-left: 10px;border-radius:5px;background-color:#f2f2f5;color:black;outline:none;
 	font-size: 15px
}


.header-left {
	font-size: 12px;
	float: right;
	line-height: 64px;
}

.header-left ul {
	float: left;
}

.header-left ul li {
	display: inline-block;
}

.header-left ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.1em;
	margin: 0 2em 0 0;
}

.header-left ul li a:hover {
	color: #6cb670;
}

.logo {
	height: 64px;
	float: left;
    margin-left: 10%;
}

/* start menu */
.h_menu4 {
	margin-left:10%;
	float: left;
	margin-right: 10%;
}

.h_nav h4 {
	border-bottom: 1px solid rgb(236, 236, 236);
	font-size: 1.3em;
	color: #000;
	line-height: 1.8em;
	margin-bottom: 4%;
}

.h_nav h4.top {
	margin-top: 1%;
}

.h_nav ul li {
	display: block;
}

.h_nav ul li a {
	display: block;
	font-size: 0.85em;
	color: #000;
	text-transform: capitalize;
	line-height: 3em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.search-icon{
	position: absolute;
    line-height: 40px;
	cursor:pointer;
	color: black;
}

 /*--responsive--*/
@media(max-width:1550px){
.h_menu4{
	margin-right:7%;
}
}
 @media(max-width:1500px){
.h_menu4{
	margin-left:7% !important;
}
.logo{
	margin-left:7%;
}
.search-icon{
	left:89%;
}
}
@media(max-width:1366px){
.al-login .search{
	display: none;
}
.un-login .search{
	display: block;
	width: 15%;
}
.un-login .search .search-icon{
	top:0px;
	left:87%;
}
}
@media(max-width:1120px){
.al-login .header-left{
	display: none;
}
.un-login .search{
	display: none;
}
}
@media(max-width:924px){
.un-login .header-left{
	display: none;
}
}
@media(max-width:768px){
.write-icon{
 margin-left: 5%;
 margin-right:5%;	
}  
.search{
	margin-left:5%;
}
.search-icon{
	left:77%;
}
.h_menu4 {
  width: 50%;
}
.grid-top {
  float: left;
  width: 33.3%;
}
.grid-mid {
  float: left;
  width: 50%;
}
.twit {
  top: 45%;
}
.amet-sed {
  margin-bottom: 2em;
}
}
@media(max-width:640px){
.search {
 display: none;
}

.grid-top p {
  font-size: 0.9em;
}
.pro-grid {
  padding: 5.5em 0 0;
}
.b-animate span {
  padding-top: 2.5em;
}
}
@media(max-width:480px){	
.header-left {
  float: none;
  margin-top: 0px;
  text-align: center;
  line-height: 36px;
}
.grid-top {
  width: 100%;
    margin-bottom: 1em;
}
.grid-top p {
  font-size: 1.2em;
}
.grid-in {
  padding: 0em 0 0;
}
}
@media(max-width:320px){
.h_menu4{
	display: none;
}
}