#note {
	overflow: hidden;
	padding: 3em !important;
}

#note  li {
	margin: 1em !important;
	float: left;
	margin-bottom: 100px !important;
	list-style: none;
}

#note li h2 {
	font-size: 120%;
	font-weight: bold;
}

#note li p {
	font-family: “Reenie Beanie”, arial, sans-serif, 微软雅黑;
	word-break:break-all;
	line-height: 30px !important;
	font-weight: normal;

}
#note li a {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 17em !important;
	width: 16em !important;
	padding: 1em !important; /* Firefox */
 	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1); /* Safari+Chrome */ 
 	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7); /* Opera */ 
 	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7); 
}

#note li a {
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
}

#note li:nth-child(even) a {
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	top: 5px;
}

#note li:nth-child(3n) a {
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	position: relative;
	top: -5px;
}

#note li:nth-child(5n) a {
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	top: -10px;
}

#note li a:hover, #note li a:focus {
 	-moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7); 
 	-webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7); 
 	box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.19);
	-moz-transform: scale(1.19);
	-o-transform: scale(1.19);
	position: relative;
	z-index: 5;
}

#note li a {
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
}

#note li:nth-child(even) a {
	-moz-transform: rotate(4deg);
	position: relative;
	top: 5px;
	background: #cfc;
}

#note li:nth-child(3n) a {
	position: relative;
	top: -5px;
	background: #ccf;
}
#note li a i{
    position: absolute;
    top: -7px !important;
    left: 45% !important;
    
}
.icon-tuding{
	color: #009688;
    font-size: 27px !important;
}